<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% load static %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'bootstrap-icons/font/bootstrap-icons.css' %}">

  <style>
    ::-webkit-scrollbar {
      width: 8px;
    }

    ::-webkit-scrollbar-track {
      background-color: #f1f1f1;
      border-radius: 20px;
    }

    ::-webkit-scrollbar-thumb {
      background-color: #c3c3c3;
      border-radius: 20px;
    }
  </style>

  {% block title %}{% endblock title %}

</head>

<body>
  <nav class="navbar sticky-top bg-dark">
    <div class="container-fluid">

      <a class="navbar-brand text-light" href="">
        <i class="bi bi-journal-text"></i>
        <strong>Scholar Information</strong>
      </a>

      {% load navbar_tags %}

      <!-- Navbar buttons -->
      <ul class="nav nav-underline rounded ps-3 pe-3 pt-1 pb-1 bg-primary-subtle">

        <li class="nav-item">
          <a class="nav-link link-dark {% is_active request 'login' %}" aria-current="page" href="{% url 'sims_app:login' %}">
            <i class="bi bi-door-open"></i>
            Login
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link link-dark {% is_active request 'registration' %}" href="{% url 'sims_app:registration' %}">
            <i class="bi bi-person-vcard-fill"></i>
            Register
          </a>
        </li>

      </ul>
    </div>
  </nav>

  <div class="container mt-4">

    {% block content %}{% endblock content %}

  </div>

  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
