{% extends request.session.admin_logged_in|yesno:'sims_app/base_admin.html,sims_app/base_sensitive.html' %}

{% block title %}
  <title>Research Paper List</title>
{% endblock title %}

{% block content %}
  <div class="row">
    <div class="col-md-12">
      <h2 class="h2 pb-2 mb-4 border-bottom border-dark">
        <i class="bi bi-list-ul"></i>
        Paper List
      </h2>

      <div class="mb-4 mt-4">
        <a class="container rounded link-underline link-underline-opacity-0 p-2 bg-success text-white" href="{% url 'sims_app:add_paper' %}">
          <i class="bi bi-node-plus"></i>
          Add new paper
        </a>
      </div>

      <ul class="list-group">
        <li class="list-group-item mb-4 border">
          <div class="row">

            <div class="col-md-5 border-end">
              <strong>Title</strong>
            </div>

            <div class="col-md-2 border-end">
              <strong>Author</strong>
            </div>

            <div class="col-md-2 border-end">
              <strong>Published Date</strong>
            </div>

            <div class="col-md-2">
              <strong>Subject</strong>
            </div>

          </div>
        </li>
      </ul>

      <ul class="list-group scrollable-list">

        {% for paper in result_list %}
          <li class="list-group-item mb-3 border">
            <div class="row">

              <div class="col-md-5 text-wrap border-end">
                {{ paper.1 }}
              </div>

              <div class="col-md-2 text-wrap border-end">
                {{ paper.4 }} {{ paper.5 }}
              </div>

              <div class="col-md-2 text-wrap border-end">
                {{ paper.2 }}
              </div>

              <div class="col-md-2 text-wrap">
                {{ paper.3 }}
              </div>

              <div class="col-md-12 mt-2 mb-1 border-top">
                <!-- for editing paper -->
                <form method="post" action="{% url 'sims_app:edit_paper_helper' %}" style="display: inline;">
                  {% csrf_token %}

                  <input type="hidden" name="edit_paper_ID" value="{{ paper.0 }}">
                  <button type="submit" class="btn btn-warning btn-sm mt-2" onclick="return confirm('Are you sure you want to edit this paper?')">
                    <i class="bi bi-pencil-square"></i>
                    Edit
                  </button>
                </form>

                <!-- for deleting paper -->
                <form method="post" action="{% url 'sims_app:delete_paper' %}" style="display: inline;">
                  {% csrf_token %}

                  <input type="hidden" name="paper_ID" value="{{ paper.0 }}">
                  <button type="submit" class="btn btn-danger btn-sm mt-2" onclick="return confirm('Are you sure you want to delete this paper?')">
                    <i class="bi bi-trash"></i>
                    Delete
                  </button>
                </form>
              </div>

            </div>
          </li>
        {% endfor %}
      </ul>

    </div>
  </div>
{% endblock content %}
