{% extends request.session.admin_logged_in|yesno:'sims_app/base_admin.html,sims_app/base.html' %}

{% block title %}
  <title>Registration</title>
{% endblock title %}

{% block content %}
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h2 class="h2 pb-2 mb-4 border-bottom border-dark">Registration</h2>

      <form action="{% url 'sims_app:registration' %}" method="POST">
        {% csrf_token %}

        {% if error_message %}
          <div class="alert alert-danger" role="alert">
            {{ error_message }}
          </div>
        {% endif %}

        <div class="mb-3">
          <label for="username" class="form-label">Username:</label>
          <input type="text" class="form-control" name="username" required>
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">Password:</label>
          <input type="password" class="form-control" name="password" required>
        </div>

        <div class="mb-3">
          <label for="confirm_password" class="form-label">Confirm password:</label>
          <input type="password" class="form-control" name="confirm_password" required>
        </div>

        <div class="mb-3">
          <label for="first_name" class="form-label">First Name:</label>
          <input type="text" class="form-control" name="first_name" required>
        </div>

        <div class="mb-3">
          <label for="last_name" class="form-label">Last Name:</label>
          <input type="text" class="form-control" name="last_name">
        </div>

        <div class="mb-3">
          <label for="email" class="form-label">Email:</label>
          <input type="email" class="form-control" name="email" required>
        </div>

        <div class="mb-3">
          <label for="contact_no" class="form-label">Contact Number:</label>
          <input type="text" class="form-control" name="contact_no">
        </div>

        <div class="mb-3">
          <label for="nationality" class="form-label">Nationality:</label>
          <input type="text" class="form-control" name="nationality" required>
        </div>

        <div class="mb-3">
          <label for="university" class="form-label">University:</label>
          <input type="text" class="form-control" name="university" required>
        </div>

        <div class="mb-3">
          {% if request.session.admin_logged_in %}
          <button type="submit" class="btn btn-dark">
            <i class="bi bi-person-vcard-fill"></i>
            Register
          </button>
          {% else %}
          <button type="submit" class="btn btn-primary">
            <i class="bi bi-person-vcard-fill"></i>
            Register
          </button>
          {% endif %}
        </div>
      </form>
    </div>
  </div>
{% endblock content %}
