{% extends 'sims_app/base_admin.html' %}

{% block title %}
  <title>Admin - Edit Users</title>
{% endblock title %}

{% block content %}
  <div class="row">
    <div class="col-md-12">
      <h2 class="h2 pb-2 mb-4 border-bottom border-dark">User List</h2>

      <div class="mb-4 mt-4">
        <a class="container rounded link-underline link-underline-opacity-0 p-2 bg-success text-white" href="{% url 'sims_app:registration' %}">Add new user</a>
      </div>

      <ul class="list-group scrollable-list">
        {% for user in result_list %}
          <li class="list-group-item mb-4 border">
            <div class="row">

              <div class="col-md-1 border-end">
                {{ user.0 }}
              </div>

              <div class="col-md-2 border-end">
                {{ user.1 }}
              </div>

              <div class="col-md-2 border-end">
                {{ user.2 }}
                {{ user.3 }}
              </div>

              <div class="col-md-3 border-end">
                {{ user.5 }}
              </div>

              <div class="col-md-2 border-end">
                {{ user.6 }}
              </div>

              <div class="col-md-2">
                {{ user.7 }}
              </div>

              <div class="col-md-12 mt-2 mb-1 border-top">
                <form method="post" action="{% url 'sims_app:admin_delete_users' %}" style="display: inline;">
                  {% csrf_token %}

                  <input type="hidden" name="user_ID" value="{{ user.0 }}">
                  <button type="submit" class="btn btn-danger btn-sm mt-2" onclick="return confirm('Are you sure you want to delete this user?')">Delete</button>
                </form>
              </div>

            </div>
          </li>
        {% endfor %}
      </ul>

    </div>
  </div>
{% endblock content %}
