<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% load static %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

  <style>
    .scrollable-list {
      height: 300px;
      overflow-y: scroll;
    }
  </style>

  {% block title %}{% endblock title %}

</head>

<body>
  <nav class="navbar bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Scholar Information Management System</a>

      {% load navbar_tags %}

      <!-- Navbar buttons -->
      <ul class="nav nav-underline mb-2 mb-lg-0 justify-content-end">

        <li class="nav-item">
          <a class="nav-link {% is_active request 'admin_edit_users' %}" aria-current="page" href="{% url 'sims_app:admin_edit_users' %}">Edit-Users</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'sims_app:logout' url='admin' %}">Logout</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container mt-4">

    {% block content %}{% endblock content %}

  </div>

  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
