{% extends request.session.admin_logged_in|yesno:'sims_app/base_admin.html,sims_app/base_sensitive.html' %}

{% block title %}
  <title>Edit Paper</title>
{% endblock title %}

{% block content %}
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h2 class="h2 pb-2 mb-4 border-bottom border-dark">Edit Research Paper</h2>

      <form action="{% url 'sims_app:edit_paper' %}" method="POST">
        {% csrf_token %}

        {% if error_message %}
          <div class="alert alert-danger" role="alert">
            {{ error_message }}
          </div>
        {% endif %}

        <div class="mb-3">
          <label for="title" class="form-label">Title:</label>
          <input type="text" class="form-control" name="title" required>
        </div>

        <div class="mb-3">
          <label for="publication_date" class="form-label">Publication Date:</label>
          <input type="date" class="form-control" name="publication_date" required>
        </div>

        <div class="mb-3">
          <label for="subject_id" class="form-label">Subject Name:</label>

          <!-- Dropdown list -->
          <select class="form-select" name="subject_id" required>

            <option value="" disabled selected>Select a subject</option>

            {% for subject in result_list %}
              <option value="{{ subject.0 }}">{{ subject.0 }}</option>
            {% endfor %}

          </select>
        </div>

        <!-- Only show if admin is logged in -->
        {% if request.session.admin_logged_in %}
          <div class="mb-3">
            <label for="user_ID" class="form-label">Author:</label>

            <!-- Dropdown list -->
            <select class="form-select" name="user_ID" required>

              <option value="" disabled selected>Select an author</option>

              {% for user in user_list %}
                <option value="{{ user.0 }}">{{ user.1 }} {{ user.2 }}</option>
              {% endfor %}

            </select>
          </div>
        {% endif %}

        <div class="mb-3">
          <button type="submit" class="btn btn-primary">Add Paper</button>
        </div>

      </form>
    </div>
  </div>
{% endblock content %}
