{% extends 'sims_app/base_sensitive.html' %}

{% block title %}
  <title>Research Paper List</title>
{% endblock title %}

{% block content %}
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h2 class="h2 pb-2 mb-4 border-bottom border-dark">Research Paper List</h2>

      <div class="mb-4 mt-4">
        <a class="container rounded link-underline link-underline-opacity-0 p-2 bg-success text-white" href="{% url 'sims_app:add_paper' %}">Add new paper</a>
      </div>

      <ul class="list-group">
          {% for paper in result_list %}
              <li class="list-group-item">
                  {{ paper.0 }}

              </li>
          {% endfor %}
      </ul>
    </div>
  </div>
{% endblock content %} 
