{% extends 'sims_app/base_sensitive.html' %}

{% block content %}

  <h1>Personal Information</h1>

  {% if user_info %}
    <ul>
      <li>Username: {{ user_info.username }}</li>
      <li>Fullname: {{ user_info.first_name }} {{ user_info.last_name }}</li>
      <li>Email: {{ user_info.email }}</li>
      <li>Contact Number: {{ user_info.contact_no }}</li>
      <li>Nationality: {{ user_info.nationality }}</li>
      <li>University: {{ user_info.university }}</li>
    </ul>
  {% endif %}

{% endblock content %}
