{% extends 'sims_app/base_sensitive.html' %}

{% block title %}
  <title>Profile</title>
{% endblock title %}

{% block content %}
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h2 class="h2 pb-2 mb-4 border-bottom border-dark">Personal Information</h2>

      {% if user_info %}
        <ul class="list-group">
          <li class="list-group-item">Username: {{ user_info.username }}</li>
          <li class="list-group-item">Fullname: {{ user_info.first_name }} {{ user_info.last_name }}</li>
          <li class="list-group-item">Email: {{ user_info.email }}</li>
          <li class="list-group-item">Contact Number: {{ user_info.contact_no }}</li>
          <li class="list-group-item">Nationality: {{ user_info.nationality }}</li>
          <li class="list-group-item">University: {{ user_info.university }}</li>
        </ul>
      {% endif %}
    </div>
  </div>
{% endblock content %}
